.bg-img1 {
  background-color: #000;
  background-size: cover;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
}
.carousel-item img {
  background-size: cover;
}
